body {
  background-color: antiquewhite;

  height: 100vh;

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 20px;
  color: #6a6d6f;
}

.header {
  padding-top: 20px;
  display: flex;
  gap: 36px;
}

/* register form styles */
.register {
  padding: 20px 0;
  display: flex;
  gap: 36px;
}

/* game field styles */
.game-field {
  /* padding-top: 20px; */
  height: 60vh;

  background-color: #007ced;
  background: linear-gradient(to bottom, #007ced 1%, #cce7ff 100%);
  overflow: hidden;
}

/* .clicker-list {
  display: flex;
  justify-content: center;
  gap: 20px;
} */

.clicker-list {
  position: relative;
  height: 100%;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0
      200px,
    url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
    url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px
      250px;
  animation: wind 20s linear infinite;
}

/* .clicker-item {
  position: relative;
  animation: wind 20s linear infinite;
} */

.clicker-button {
  width: 50px;
  height: 50px;
  background-image: url(./images/bomber1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;

  background-color: azure;
}

.clicker-button-clicked {
  width: 50px;
  height: 50px;
  background-image: url(./images/bomber1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;

  background-color: red;
}

.clicker-item1 {
  position: absolute;
  left: 40%;
  top: 5%;
  z-index: 3;
  animation: plainfly 11s linear infinite;
}

.clicker-item2 {
  position: absolute;
  left: 40%;
  top: 25%;
  z-index: 3;
  animation: plainfly 9s linear infinite;
}

.clicker-item3 {
  position: absolute;
  left: 40%;
  top: 45%;
  z-index: 3;
  animation: plainfly 10s linear infinite;
}

.clicker-item4 {
  position: absolute;
  left: 40%;
  top: 65%;
  z-index: 3;
  animation: plainfly 8s linear infinite;
}

.clicker-item5 {
  position: absolute;
  left: 40%;
  top: 85%;
  z-index: 3;
  animation: plainfly 12s linear infinite;
}

@keyframes wind {
  100% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  0% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

@keyframes plainfly {
  0% {
    left: -10%;
    transform: scale(0.4);
  }
  50% {
    left: 110%;
    transform: scale(1);
  }
  51% {
    transform: rotateY(180deg);
  }
  100% {
    left: -10%;
    transform: scale(1.4) rotateY(180deg);
  }
}

/* @keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
} */
