/* game field  */
.game {
  display: none;
  position: relative;
  background-color: var(--background-color);
}

.game-field-wrap {
  height: 100vh;
  background-color: var(--background-color);
  background: linear-gradient(
    to bottom,
    var(--background-color) 1%,
    #cce7ff 100%
  );
  overflow: hidden;
}

.game-field {
  position: relative;
  height: 100%;
  background: url(../assets/images/clouds1000.png);
  background: url(../assets/images/clouds1000.png) 0 200px,
    url(../assets/images/clouds1200_1.png) 0 300px,
    url(../assets/images/clouds1000_blur3.png) 100px 250px;
  animation: wind 20s linear infinite;
}

/* animations */
@keyframes wind {
  100% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  0% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}
